/* Put your custom CSS here */
.content { max-width: 480px; }
.ui-field-contain label.broad { width: 80%; }

.score5, .score6, .score7 { color: orange; }
.score8, .score9, .score10 { color: green; }
.score2, .score3, .score4 { color: red; }
